<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Online Shopping Books</title>
  <link rel="stylesheet" type="text/css" th:href="@{${cssPath}}">
  <link rel="shortcut icon " type="images/x-icon" href="/image/shortcut.png">
</head>
<script src="../js/item.js"></script>
<body>
<div class="shortcut">
  <div class="wrapper">
  </div>
</div>
<dialog open>
  <div>购买成功！</div>
  <button>
    <a href="/">
      返回主菜单
    </a>
  </button>
</dialog>
</body>
</html>