<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Shopping Website</title>
    <meta name="description" content="Website for Shopping">
    <meta name="keywords" content="Online Shopping Website">
    <meta name="author" content="San Yang">
    <!--Apply setting to main window.-->
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="shortcut icon " type="images/x-icon" href="/image/shortcut.png">
</head>
<script src="../js/item.js"></script>
<script src="../js/index.js"></script>
<body>
<div class="shortcut">
    <div class="wrapper">
        <!--ul,li分别为无序、有序列表-->
        <ul>
            <li><a id="userName" th:text="${userName}"></a><a id="login" href="#" th:onclick="SetLogin()" th:text="${loginStatus}"></a><a href="/register">注册</a><a href="">我的订单</a></li>
        </ul>
    </div>
</div>

<div class="header wrapper">
    <img src="../image/shoppingWebsiteLogo.png" alt="" class="logo">
    <div class = "nav">
        <a href="">首页</a><a href="/itemInfo/Book">书籍</a><a href="/itemInfo/Outing">户外</a><a href="/itemInfo/Electron">电器</a><a href="/itemInfo/Food">美食</a><a href="/itemInfo/Home">居家</a><a href="/itemInfo/Washing">洗护</a>
    </div>
    <div class="search-bar">
        <form  action="/itemInfo/search" method="get" target="_blank">
            <label>
                <input type="text" name = "searchKey" placeholder="搜索商品">
            </label>
            <input id="searchBox" type="submit" value="搜索">
        </form>
    </div>
</div>

<div class = "banner">
    <div class="wrapper">
        <div class = "subnav">
            <!--ul,li分别为无序、有序的列表-->
            <ul>
                <li><a href="/itemInfo/Book">书籍</a><a href="">中文</a><a href="">外文</a></li>
                <li><a href="/itemInfo/Outing">户外</a><a href="">探险</a><a href="">地质</a></li>
                <li><a href="/itemInfo/Electron">电器</a><a href="">室内</a><a href="">户外</a></li>
                <li><a href="/itemInfo/Food">美食</a><a href="">蔬菜</a><a href="">水果</a></li>
                <li><a href="/itemInfo/Home">居家</a><a href="">奶粉</a><a href="">玩具</a></li>
                <li><a href="/itemInfo/Washing">洗护</a><a href="">头部</a><a href="">全身</a></li>
            </ul>
        </div>
        <img src="../image/mainPicture.jpg" alt="" class="pic">
    </div>
</div>

</body>

</html>