<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="shortcut icon " type="images/x-icon" href="/image/shortcut.png">
</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <div class="header">注册</div>
        <div class="form-wrapper">
            <form action="/register">
                <input type="text" name="username" placeholder="用户名" class="input-item">
                <input type="password" name="password" placeholder="密码" class="input-item">
                <input class="btn" type="submit" value="注册">
            </form>
        </div>
    </div>
</div>
</body>
</html>